@font-face {
    font-family: 'OsszoiNSscotoO'; /*a name to be used later*/
    src: url('../font/Neutra2Display-Medium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'OsszoiNSscotoOBold'; /*a name to be used later*/
    src: url('../font/Neutra2Text-Bold.otf'); /*URL to font*/
}

html, body {
	top: 0;
	margin-top: 0px;	
}

.barranav {
	height: 100px;
  	padding-left: 40px;
  	padding-right: 40px;
  	background-color:skyblue;
  	margin-top: -20px;
}
.logo{
	float: left;
	width: 200px;
	height: 90px;
	padding: 0px;
}

.menu{
	float:right;
}
.adm{
	float:left;
	margin-right: 10px;
	height: 100%;
	width: 200px;
	background-color: rgb(221,221,221);
}
.boton1:hover{
	border-color: gray;
	border-style: inset;
    border-width: 1px;
}

.error-notif {
	width: 90%;
	margin: 20px 5%;
	border-radius: 10px;
	background-color: red;
	padding: 15px 0px;
	text-align: center;
	color: white;
	font-size: 24px;
}



.success {
	width: 90%;
	margin: 20px 5%;
	border-radius: 10px;
	background-color: rgb(98, 110, 8);
	padding: 15px 0px;
	text-align: center;
	color: white;
	font-size: 24px;
}

#respuesta {
	width: 900px;
}

#ver_notificaciones {
	width: 100%;
}

.notificacion {
	width: 96%;
	padding: 15px 2%;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
}







/* ============= CHRISTIAN ================ */


.borde{
	border-color: gray;
	border-style: inset;
    border-width: 1px;
}




/* ============= EDUARDO ================ */